<form class="signInForm">
  <h1><label for="username">Username</label></h1>
  <input type="text" name="username" id="username">

  <h1><label for="password">Password</label></h1>
  <input type="password" name="password" id="password">
  <br>
  <button type="submit" value="Submit" class="submitButton">Submit</button>


  <script src="/js/login.js"></script>
</form>