<form class="signInForm">
  <h1><label for="username">Username</label></h1>
  <input type="text" name="username">

  <h1><label for="password">Password</label></h1>
  <input type="text" name="password">
  <br>
  <button type="submit" value="Submit" class="submitButton">Submit</button>
</form>