<form id="signUpForm">

    <h1><label for="fullName">Full Name</label></h1>
    <input type="text" name="fullName" placeholder="Full Name" id="fullName">

    <h1><label for="email">Email</label></h1>
    <input type="email" name="email" placeholder="email" id="email">

    <h1><label for="password">Password</label></h1>
    <input type="password" name="password" placeholder="password" id="password">

    <h1><label for="username">Username</label></h1>
    <input type="text" name="username" placeholder="username" id="username">

    <h1><label for="pin">4 Digit Pin</label></h1>
    <input type="password" name="pin" placeholder="pin" id="pin">

    <br>
    <button class="submitButton">Submit</button>
</form>

<script src="/js/signup.js"></script>